/*
	RESET
*/
* {margin: 0px; padding: 0;}
.clear {clear: both;}
img, a img {border: none;}
input {outline: none;}




/*
	STRUCTURE
*/
body {font: 14px/1.1 Helvetica, sans-serif; background: url("../img/stripe.png");}
#page-wrap {outline: 0px solid black; width: 960px; margin: 6px auto 50px; position: relative;}
hr {height: 1px; background: #ccc; clear: both; margin: 20px 0; border: none; display: block;}


/*
	TYPOGRAPHY
*/
a  { text-decoration: none; color: #900; border-bottom: 1px dotted #900; outline: none; }
h1 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; }
h2 { margin: 0 0 10px 0; }
p { margin: 0 0 6px 0; }
.button {
	background: #ed8322;
	/*background: url("../img/button_light.png") repeat-x;*/
	/*-moz-border-radius: 5px;*/
	padding: 6px 12px;
	border: 1px solid #e37400;
	color: #f4f4f4;
	cursor: pointer;
	text-shadow: 0 1px 1px #666;
	/*-webkit-border-radius: 5px;*/
	/*-webkit-box-shadow: 0 1px 3px #999;*/
	/*-moz-box-shadow: 0 1px 3px #999;*/
	border-radius: 5px;
	font: bold 16px Helvetica;
}
/*.button:hover { background-position: bottom ; color: #fff;}*/
/*.button-dark {background: url("../img/button_dark.png") repeat-x;}*/
/*.red { background: red; color: white; font-size: 12px; padding: 3px; }*/


/*
	HEADER
*/
#header { height: 70px; position: relative; background: url("../img/header.png") repeat-x; }
#header h1 { position: absolute; top: 4px; left: 20px; z-index: 2; text-indent: -9999px; overflow: hidden;}
#header h1 a {  display: block; text-indent: -9999px; width: 200px; height: 70px; border: none; background: url("../img/logo.png") no-repeat; }
#account { width: 500px; float: right; padding: 15px 20px 0 0; text-align: right; }
#account a { margin: 0 4px; }


/*
	MAIN
*/
#main { margin: 40px 0px 0px 30px; }


/*
	LISTS
*/
.list { list-style: none; margin-left: 60px;}
.list li {outline: 0px solid red; position: relative; margin: 0 0 8px 0; padding: 0; width: 607px; }
.list li span { color: #f7f7f7; padding: 8px 8px 8px 48px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 549px; display: block; position: relative; }

.colorBlue span { background: rgb(115, 184, 191); }
.colorYellow span { background: rgb(255, 255, 255); }
.colorRed span { background: rgb(187, 49, 47);}
.colorGreen span { background: rgb(145, 191, 75); }
.tab { outline: 0px solid green; height: 20px; top: 5px; }

.deletebutton { display: none; position: absolute; top: -6px; right: -4px; width: 18px; height: 18px; background: url("../img/close.png") no-repeat; cursor: pointer;}
.deletebutton:hover { background-position: -18px 0; }

.draggertab { background: url("../img/dragger.png") no-repeat; position: absolute; left: 10px; width: 30px; cursor: move; }
.donetab { position: absolute; top: 1px; left: -30px; width: 30px; height: 30px; background: url("../img/checkbox.png") no-repeat; background-position: 0 0; cursor: pointer;}
.donetab:hover { background-position: -30px 0; }

.strikethrough { position: absolute; top: 46%; left: -3px; height: 2px; width: 613px; background: #555; display: none; }
.strikethrough {width: 0;}
.crossout span { opacity: 0.4;}
.crossout .donetab { background-position: -60px 0; opacity: 0.6; }
.crossout .strikethrough {display: block;}


#share-area { margin: 20px 0 0 69px; width: 600px; }


/*
	FORM STUFF
*/
label { background: #999; color: white; padding: 4px;}
input[type="text"], input[type="password"] { width: 324px; border: 2px solid #999; font-size: 1.2em; padding: 5px; margin: 4px 0 0 0; display: block; }                   
#add-new input[type="text"] { width: 532px; float: left; margin: 5px 10px 0 60px; }
#add-new input[type="text"]:focus { border-color: #ee823a; }
#add-new input[type="submit"] {
	/*margin: 5px 0 0 0; padding: 8px 10px;*/

	font-family:Verdana,sans-serif;
	font-size:16px;
	line-height:16px;
	color:rgb(244, 244, 244);
	text-align:center;
	text-shadow:rgb(102, 102, 102) 0px 0px 2px;
	-webkit-text-stroke-width:0px;
	-webkit-box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px;
	-moz-box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px;
	box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px;
}
#add-new input[type="submit"]:hover {
	-webkit-box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px inset;
	-moz-box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px inset;
	box-shadow:rgb(150, 98, 56) 1px 2px 1px 0px inset;

}

ul#edit-list li span input[style] { width: 90% !important; }


/*
	MESSAGING
*/
.message { padding: 10px; margin: 0 0 10px 0; width: 607px; }
.good { background: #9ff5b6; }
.bad { color: #ef0040; }


/*
	SIDEBAR
*/
#sidebar { position: absolute; right: 0; width: 125px; padding: 60px 30px 0 47px; height: 756px; top: -6px; }

#sidebar ul { list-style: none; }
#sidebar ul li { background: rgba(0,0,0,0.8); color: white; padding: 5px; margin: 0 0 5px 0; font-size: 12px; }